.headbar{
    width: 100%; 
    height: 8vh;
    background-color: #2d3436;
    margin-bottom: 3vh;
}

.clock-time{
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: right;
}

.menu-button{
    color: #fff;
    font-size: 18px;
    padding: 14px;
}
.product-list{
    height: 75vh;
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 8px;
}

.product-query{
    height: 30vh;
    border: 1px solid #ddd;
    background-color: #fafafa;
    margin-bottom: .5vh;
    border-radius: 8px;
}

.product-query .product-search-textfield{
    font-size: 24px
}

.product-detail{
    height: 44vh;
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 8px;
}

.table-pos thead tr{
    background-color: #f2f2f2;
}

.selected-row-pos{
    background-color: #E8E8F8;
}

.total-price-container .total-price-text{
    margin-top: 20px;
    color: #0984e3;
    font-weight: 600;
    letter-spacing: 2px;
}

.total-price-container .total-price-caption{
    margin-top: 30px;
}

.table-detail-product tr{
    padding: 0px;
    margin: 0px;
}
.table-detail-product tr td{
    padding: 10px;
    margin: 0px;
}