<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }
</style>

<div class="headbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="menu-button">
                    <img src="../../assets/elegantco.png" width="200" style="margin-top: -10px;">
                </div>
            </div>

            <div class="col-6">

            </div>

            <div class="col-3">
                <div class="clock-time">
                    {{currentDate}}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid pos-container">
    <div class="row">
        <div class="col-8">
            <div class="product-list">

                <div style="height: 60%; overflow-y: scroll;">
                    <table class="table table-bordered table-pos">
                        <thead>
                            <tr>
                                <th style="width: 20px">No</th>
                                <th>Item</th>
                                <th>Desc</th>
                                <th>Berat</th>
                                <th>Karat</th>
                                <th>Harga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products; let i = index" [attr.data-index]="i"
                                (click)="selectItem(i)" [ngClass]="{'selected-row-pos': i == selectedIndex}">
                                <td>{{i+1}}</td>
                                <td><b>{{product.name}}</b><br>
                                    <p style="font-size: 12px">{{product.sku}}</p>
                                </td>
                                <td>{{product.category.name + " " + product.subCategory.name}}</td>
                                <td>{{product.weight}}</td>
                                <td>{{product.karat}}</td>
                                <td>{{product.price | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div>
                    <div>
                        <div>
                            <div *ngIf="selectedProduct">
                                <button (click)="removeItem()" class="btn btn-danger"
                                    style="float: right; margin: 10px"><i class="fa fa-trash"></i> Remove
                                    Selection</button>

                            </div>
                        </div>
                        <div style="padding: 15px">
                            <h5><i class="fa fa-edit"></i> Detail Pembayaran</h5>
                            <div style="margin-top: 30px">
                                <table class="table">
                                    <tr>
                                        <td>Total Item</td>
                                        <td style="padding-left: 10px"><b>Rp {{totalPrice | number}}</b></td>

                                        <td>Disc (Rp)</td>
                                        <td style="padding-left: 10px"><b>Rp 0</b></td>

                                    </tr>

                                    <tr>
                                        <td>Jumlah</td>
                                        <td style="padding-left: 10px"><b>{{totalQty}}</b></td>

                                        <td>Berat</td>
                                        <td style="padding-left: 10px"><b></b></td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-query">
                <div style="margin: 20px">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-barcode"></i></span>
                            </div>
                            <input type="text" class="form-control product-search-textfield"
                                placeholder="Masukkan Barcode" [formControl]="barcode" (keyup.enter)="submitBarcode()">
                        </div>
                        <div style="margin-top: 15px"></div>
                        <h5 style="margin-bottom: 15px;">Atau Cari Item Manual</h5>

                        <button class="btn btn-info btn-block" data-target="#underDevelopment" data-toggle="modal"><i class="fa fa-list"></i> Cari Item Manual</button>
                </div>
            </div>

            <div class="product-detail">
                <div style="margin: 20px; font-size: 20px">
                    <i class="fa fa-info-circle"></i> Detail Produk

                    <table class="table table-detail-product" style="font-size: 12px; margin-top: 10px">
                        <tr>
                            <td>Nama Produk</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.name}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>SKU</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.sku}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>Berat</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.weight}} Grams</div>
                            </td>
                        </tr>

                        <tr>
                            <td>Karat</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.karat}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>Harga</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.price | number}}</div>
                            </td>
                        </tr>

                        <tr>
                            <td>Tanggal Masuk</td>
                            <td>
                                <div *ngIf="selectedIndex!=null">{{selectedProduct.date_in | date: 'dd/MM/yyyy'}}</div>
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="total-price-container">
                <div class="row">
                    <div class="col-4" style="font-size: 32px; margin-top: 14px">
                        <button class="btn btn-light" style="margin-right: 5px" data-toggle="modal" data-target="#underDevelopment">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button class="btn btn-light" (click)="emptyTable()">
                            <i class="fa fa-history"></i> Kosongkan POS
                        </button>
                    </div>
                    <div class="col-3">
                        <h5 class="total-price-caption" style="text-align: right">
                            TOTAL PRICE
                        </h5>
                    </div>
                    <div class="col-5">
                        <h2 class="total-price-text" style="text-align: right">
                            Rp {{totalPrice | number}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <button data-toggle="modal" data-target="#checkoutModal" class="btn btn-success"
                style="display: block; width: 100%; margin-top: 20px; padding: 1px" [disabled]="!totalPrice">
                <h3>
                    <i class="fa fa-check-circle"></i> Proses
                </h3>
            </button>
        </div>
    </div>
</div>


<!-- Modal : Confirm Payment -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Pembayaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table">
                        <tr>
                            <td>
                                Uang Bayar
                            </td>

                            <td>
                                <input class="form-control" [formControl]="payAmount">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Uang Kembalian
                            </td>

                            <td>
                                <input class="form-control" disabled
                                    value="{{payAmount.value-totalPrice < 0 ? '' : payAmount.value-totalPrice | number}}">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">



                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <form method="get" class="formCheckout" action="/pos/invoice">
                    <input type="hidden" name="transaction_id" [formControl]="transactionId">
                </form>
                <button type="button" class="btn btn-primary" (click)="createTransaction()"
                    [disabled]="creatingTransactionLoad">Purchase</button>
                <!--                 
                <button type="button" class="btn btn-primary" (click)="createTransaction()">Proceed</button> -->
            </div>
        </div>
    </div>
</div>




<!-- Modal : Product Not Found -->
<div class="modal fade" id="productNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-warning"></i> Barang Tidak Ditemukan
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Maaf, Barang dengan Barcode <strong>{{prevSearchedBarcode}}</strong> tidak ditemukan
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal Under Development -->


<!-- Modal : Product Not Found -->
<div class="modal fade" id="underDevelopment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-warning"></i> Under Development
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Maaf, Fitur ini sedang dalam tahap pengembangan
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>